<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<!-- Site Title, Description, Author, and Favicon -->
{{- with .Title | default .Site.Title }}
  <title>{{ . }}</title>
  <meta property="og:title" content="{{ . }}" />
  <meta name="twitter:title" content="{{ . | truncate 70 }}" />
{{- end }}
{{- with .Description | default .Params.subtitle | default .Summary }}
  <meta name="description" content="{{ . | truncate 200 }}">
  <meta property="og:description" content="{{ . | truncate 200 }}">
  <meta name="twitter:description" content="{{ . | truncate 200 }}">
{{- end }}
  <meta name="author" content="{{ .Site.Author.name }}"/>
{{- with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}
<!-- Social Media Tags -->
{{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:image" content="{{ . | absURL }}" />
{{- end }}
  <meta name="twitter:card" content="summary" />
{{- with .Site.Author.twitter }}
  <meta name="twitter:site" content="@{{ . }}" />
  <meta name="twitter:creator" content="@{{ . }}" />
{{- end }}
{{- with .Site.Params.fb_app_id }}
  <meta property="fb:app_id" content="{{ . }}" />
{{- end }}
  <meta property="og:url" content="{{ .Permalink | absLangURL }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <!-- Links and stylesheets -->
  <link rel="canonical" href="{{ .Permalink | absLangURL }}" />
  {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end -}}

  <!-- Internal css -->
  {{ $cssmain := resources.Get "css/main.css" }}
  {{ $csshighlight := resources.Get "css/highlight.min.css" }}
  {{ $cssbootstrap := resources.Get "css/bootstrap.min.css" }}
  {{ $cssfontello := resources.Get "css/fontello-embedded.css" }}
  {{ $cssall := slice $cssbootstrap $csshighlight $cssfontello $cssmain  | resources.Concat "css/bundle.css" | resources.Minify }}
  
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $cssall.Permalink | absURL }}" />
{{ else }}
  <link rel="stylesheet" href="https://d3hc3qdofe5ifg.cloudfront.net{{ $cssall.Permalink | relURL }}" />
{{ end }}

  <link rel="manifest" href="/manifest.webmanifest"><!-- PWA / AMP -->
  <meta name="theme-color" content="#e7e7e7">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-362562709"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-362562709');
</script>
</head>
