[Unit]
Description=Go Daemon for hugo blog and github webhook
Documentation=https://github.com/SiloCityLabs/blog
Requires=network.target
After=network.target

[Service]
Type=simple
User=root
Group=root
PIDFile=/var/run/blog.pid
WorkingDirectory=/opt/blog/daemon/
ExecStart=/opt/blog/daemon/daemon.run
Restart=on-failure
SyslogIdentifier=blog

[Install]
WantedBy=multi-user.target